@import "../../colors.scss";

.LandingPageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

.LandingPageHeader {
    background-color: $dark-blue;
    padding: .5em 2em;
    width: calc(100% - 4em);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.LandingPageHeaderIcon {
    display: flex;
    flex-direction: row;
    margin-right: 7.3em;
}

.LandingPageHeaderIconText {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    margin-left: .2em;
    margin-top: .2em;
}

.ercadoText{
    margin-bottom: -2px;
}

.inputWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: 4.7em;
}

.xIcon {
    color: $gray;
    margin-left: -1.5em;
    z-index: 2;
}

.xIcon:hover {
    cursor: pointer;
    color: $black;
}

.contactUs {
    color: $white;
    margin-right: 4em;
}

.contactUs:hover {
    color: $light-orange;
    cursor: pointer;
}

.shoppingCartIcon {
    color: $white;
    margin-right: 1em;
    font-size: 25px;
}

.shoppingCartIcon:hover {
    color: $light-green;
    cursor: pointer;
}

.menu {
    color: $white;
    font-size: 25px;
    margin-right: 1.4em;
}

.menu:hover {
    cursor: pointer;
}

.LandingPageBody {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0em 1em 1em 1em;
    width: calc(100% - 2em);
    height: 100%;
}

.selectorContainer {
    width: 15%;
}

.categoriesContainer {
    border-radius: 8px;
    color: #333;
    padding: .6em 1em 1em 1em;
}

.categoriesText {
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 1px #333;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.categoriesIconAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.selectedCategory {
    font-weight: bold;
}

.selectCategory:hover {
    font-weight: bold;
    cursor: pointer;
}

.productsContainer {
    background-color: $light-gray;
    border-radius: .5em;
    width: 85%;
    padding: .6em 1em 1em 1em;
}

.productsText {
    border-bottom: solid 1px $gray;
    padding-bottom: .5em;
    margin-left: 1em;
    margin-right: 2.2em;
    color: $gray;
}

.productsDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: auto;
    height: 70vh;
    gap: 16px;
    padding: 0px 16px 50px 16px;
    margin-top: 1em;
}

.completeProduct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.productCard {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 16vw;
    border-radius: 1em;
}

.productCard:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productDescription{
    padding: 1em;
}

.equipmentText {
    color: $light-orange;
    font-weight: bold;
}

.productName {
    color: $black;
    font-weight: bold;
}

.copText {
    color: $black;
    font-weight: bold;
}