@import "../colors.scss";

.LandingPageContainer {
    overflow-y: hidden;
}

.landingPageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 2em;
}

.landingPageTabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark-green;
    box-sizing: border-box;
}

.landingPageTabsClick {
    padding: 1em;
}


.landingPageTabsClick:hover {
    padding: 1em;
    color: $beige;
    background-color: $terracotta;
    border-radius: 15px;
    cursor: pointer;
}

.rightTabs {
    gap: 5em;
}

.contactAndShopTabs {
    gap: .5em
}

.landingPageBody {
    display: flex;
    flex-direction: row;
    padding-left: 1.5em;
}

.searchAndCategoriesContainer {
    margin-right: 2em;
}

.searchInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.searchInput {
    width: 15em;
}

.clearIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.xIcon {
    position: absolute;
    left: 14.8em;
    color: gray;
}

.xIcon:hover{
    cursor: pointer;
    color: black;
}

.categoriesContainer{
    background-color: $light-green;
    border-radius: 8px;
    color: $white;
    padding: 1em;
}

.categoriesText{
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 1px $white;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.categoriesIconAndText{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.selectCategory:hover{
    font-weight: bold;
    cursor: pointer;
}

.CardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    width: 100%;
    background-color: $light-gray;
    border-radius: 8px;
    padding: 2em;
    overflow-y: auto;
    height: 60vh;
}

.productCard {
    height: 14em;
    border-radius: 8px;
    background-color: $white;
    border: solid 1px $white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.productCard:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}