@import "../colors.scss";

.LandingPageContainer {
    overflow-y: hidden;
}

.landingPageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
}

.landingPageTabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark-green;
    box-sizing: border-box;
}

.landingPageTabsClick {
    padding: 1em;
}


.landingPageTabsClick:hover {
    padding: 1em;
    color: $beige;
    background-color: $terracotta;
    border-radius: 15px;
    cursor: pointer;
}

.rightTabs {
    gap: 5em;
}

.contactAndShopTabs {
    gap: .5em
}

.landingPageBody {
    display: flex;
    flex-direction: row;
    padding-left: 1.5em;
}

.searchAndCategoriesContainer {
    margin-right: 2em;
}

.searchInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.searchInput {
    width: 15em;
}

.xIcon {
    margin-left: -3em;
}

.xIcon:hover{
    color: red;
}

.CardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    width: 100%;
    background-color: $light-gray;
    border-radius: 8px;
    padding: 2em;
    overflow-y: auto;
    height: 60vh;
}

.productCard {
    height: 14em;
    border-radius: 8px;
    background-color: white;
    border: solid 1px white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.productCard:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}