@import "./colors.scss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
}

$scroll: 10px;

::-webkit-scrollbar {
  height: $scroll;
  width: $scroll;
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $dark-blue;
}